<ion-view>
  
  <ion-nav-title>
    <b>Add Article</b>
  </ion-nav-title>

  <ion-content class="padding">
    <h4>Create a new article.</h4>

    <form data-ng-submit="newTask()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" data-ng-model="art.Title" placeholder="Task Title" autofocus required>
        </label>
        <label class="item item-input">
          <textarea data-ng-model="art.body" placeholder="Task Description" rows="6"></textarea>
        </label>
        <button class="button button-full button-positive" type="submit">Add Task</button>
      </div>
    </form>

  </ion-content>
</ion-view>
